<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Memory Waster</title>
  
  <link rel="apple-touch-icon" sizes="57x57" href="/favicon/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="/favicon/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/favicon/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="/favicon/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/favicon/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="/favicon/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="/favicon/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/favicon/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192"  href="/favicon/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="/favicon/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
  <link rel="manifest" href="/favicon/manifest.json">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="/favicon/ms-icon-144x144.png">
  <meta name="theme-color" content="#ffffff">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

</head>

<body>
  <header>
    <div class="navbar navbar-dark bg-dark shadow-sm">
      <div class="container d-flex justify-content-between">
        <a href="#" class="navbar-brand d-flex align-items-center">
          <strong>Java Memory Waster</strong>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader"
          aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
        </button>
      </div>
    </div>
  </header>

  <main role="main">

    <div class="py-5 bg-light">
      <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h1>Java Memory Waster</h1>
                <p>Pick a section below to select the type of memory you want to waste.</p>
            </div>
            <div class="col-md-6">
                <div class="alert" :class="{'alert-danger': (type == 'danger'), 'alert-success': (type == 'success')}" role="alert" id="alert" v-show="show">
                    {{ message }}
                </div>
            </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <div class="card mb-4 shadow-sm">
              <div class="card-body">
                <h3 class="card-title">Heap</h3>
                <p class="card-text">This simulates a leak by creating a lot of objects and retaining a reference to them. Since the JVM is a garbage collected the main type of "memory leaks" you'll see are caused by accidentally retaining references to objects, which prevents GC and causes heap memory to build over time. This will simulate that scenario.</p>
                <p class="card-text">Click the button below to generate a leak in the heap.</p>
                <hr />
                <div class="d-flex justify-content-between align-items-center" id="heap">
                    <label style="font-weight: 500" for="howMuch">How Much Junk?</label>
                    <input type="text" id="howMuch" v-model="howMuch" style="width: 5em; text-align: center" />
                    <label style="font-weight: 500" for="retain">Retain?</label>
                    <input style="width: 25px; height: 25px;" type="checkbox" id="retain" v-model="retain" />
                    <button type="button" class="btn btn-sm btn-outline-secondary" @click="click" style="min-width: 7em">Execute</button>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-6">
            <div class="card mb-4 shadow-sm">
              <div class="card-body">
                <h3 class="card-title">Metaspace</h3>
                <p class="card-text">This simulates a resource leak by dynamically creating a lot of classes, loading them into the JVM and preventing GC. This will, if done enough, cause the metaspace to fill up, generating an OutOfMemoryError. This scenario can happen accidentally with dynamically loaded classes under the right conditions.</p>
                <p class="card-text">Click the button below to generate a leak in the metaspace.</p>
                <hr />
                <div class="d-flex justify-content-between align-items-center" id="metaspace">
                    <label style="font-weight: 500" for="howMuch">How Much Junk?</label>
                    <input type="text" id="howMuch" v-model="howMuch" style="width: 5em; text-align: center" />
                    <label style="font-weight: 500" for="retain">Retain?</label>
                    <input style="width: 25px; height: 25px;" type="checkbox" id="retain" v-model="retain" />
                    <button type="button" class="btn btn-sm btn-outline-secondary" @click="click" style="min-width: 7em">Execute</button>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-6">
            <div class="card mb-4 shadow-sm">
              <div class="card-body">
                <h3 class="card-title">Threads</h3>
                <p class="card-text">Create lots of threads and keep them around forever. This is a very deliberate leak to force unchecked thread growth. Unchecked thread growth can cause a number of problems, like running out of thread stack space or exhausting native OS threads. This option can be used to simulate those scenarios.</p>
                <p class="card-text">Click the button below to generate a thread leak.</p>
                <hr />
                <div class="d-flex justify-content-between align-items-center" id="threads">
                    <label style="font-weight: 500" for="howMuch">How Many Threads?</label>
                    <input type="text" id="howMuch" v-model="howMuch" style="width: 5em; text-align: center" />
                    <button type="button" class="btn btn-sm btn-outline-secondary" @click="click" style="min-width: 7em">Execute</button>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-6">
            <div class="card mb-4 shadow-sm">
              <div class="card-body">
                <h3 class="card-title">Garbage Collect</h3>
                <p class="card-text">This option will ask the JVM to perform a GC. It's not a guarantee of an immediate GC, but will usually trigger a full GC reasonably quick. This can be useful when running through certain troubleshooting scenarios or when you want to clean up from a scenario without doing a restart of the application.</p>
                <p class="card-text">Click the button below to request a full garbage collection.</p>
                <hr />
                <div class="d-flex justify-content-between align-items-center" id="gc">
                    <button type="button" class="btn btn-sm btn-outline-secondary" @click="click" style="min-width: 7em">Execute</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>

  <footer class="text-muted">
    <div class="container">
      <p>Java Memory Waster • <a href="https://github.com/dmikusa-pivotal/java-memory-waster">Github</a></p>
    </div>
  </footer>
  
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script src="app.js"></script>
</body>

</html>
